#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-container {
  min-height: 100vh;
  background-image: url('./assets/bighornmountaintuition.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-content {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}
